.page_hading_bredcrumb {
    padding-left: 14px;
}

.page_hading_bredcrumb {
    margin-bottom: 20px;
    padding-left: 0;
}

.page_hading_bredcrumb,
.breadcrumb_bg li,
.page_hading_bredcrumb h2,
.module_title,
.permission_title {

    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.permission_title .role_p {
    margin-bottom: 12px;
}

.permission_title .role_p:last-child  {
    margin-bottom: 0px;
}

.role_p > label {
    cursor: pointer;
}

/* tr .staff_role_tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* #staffRole_table {
    border-bottom: 1px solid #e3ecfa;
} */



.breadcrumb_bg {
    background: transparent !important;
    padding-left: 0px !important;
    font-size: 20px;
}

.page_hading_bredcrumb h2 {
    margin-bottom: -10px;
}

.breadcrumb_bg li {
    font-size: 16px !important;
}

/* Select2 CSS
------------------------------ */
.select2_states {
    width: 100%;
    min-height: 35px !important;
}

.table,
button {
    color: #6f767e;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button {
    border: none;
}

select {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

label {
    user-select: none;
}

.form-check-input:focus {
    box-shadow: none;
}


body {
    font-family: 'Lexend', sans-serif !important;
    font-weight: 400;
}


.action_td {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: linear-gradient(130.57deg, #392C7D -0.48%, #314CAD 71.79%);
    border: none;
    cursor: pointer;
    position: relative;
}

.action_icon {
    color: #392c7d;
    margin-right: 8px;
}

.action_button {
    width: max-content;
    border: 1px solid whitesmoke;
    position: absolute;
    top: 108%;
    right: 45%;
    display: none;
}

.action_button_item li > button {
    width: 100%;
    display: block;
    padding: 8px 25px;
    border-bottom: 1px solid whitesmoke;
}

.action_button > .card-body {
    padding: 0;
}

.btn {
    font-family: 'Lexend', sans-serif !important;
    font-weight: 500 !important;
}

/* Create Role page */

.role_p > label {
    font-weight: 300;
    font-size: 16px;
    margin-left: 12px;
}

.role_p > input[type=checkbox], 
.role_p > input[type=radio],
#xm_ans_chkbox {

    padding: 11px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.role_title {
    font-size: 16px;
}

.role_th {
    font-size: 18px;
}



#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: #fff;
    -webkit-box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
 
}

.vertical-menu {
    width: 250px;
    z-index: 1001;
    background: #fff;
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 70px;
    -webkit-box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    
}

.staff_input {
    height: 36px;
    width: 100%;
}


/* / NICE SLECET PLUGGIN / */
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11) !important;
    width: 100%;

}

.error {
    width: 100%;
    display: block;
}


.label_name {
    font-size: 16px;
    color: #33383f;
    font-weight: 400;
}

.inputs {
    height: 48px;
    font-size: 14px;
    color: #242424;
    padding: 3px 6px;
}

.inputs::placeholder {
    color: #ced4da;
}

.inputs:focus-visible, .inputs:focus {
    box-shadow: 0 0 10px rgba(10,175,255,.35);
    border: 1px solid #392c7d!important;
    outline: none;
}

thead > tr > th {
    color: #242424;
}

.badge_status_act,
.badge_status_inact,
.badge_status_warning,
.badge_status_info {
    padding: 5px 23px;
    border-radius: 20px;
    margin-top: 10px;
}

.badge_status_act {
    background: rgba(41, 214, 151, 0.11);
    color: #29d697;

}

.badge_status_inact {
    background: rgba(247, 14, 14, 0.07);
    color: rgb(245, 53, 53);

}

.badge_status_warning {
    background: rgb(255 193 7 / 11%);
    color: rgb(255 189 39);
    padding: 5px 32px;

}

.badge_status_info {
    background: rgb(23 162 184 / 13%);
    color: rgb(23, 162, 184); 
    padding: 5px 21px;   
}



.existing_uploaded_img > img {
    width: 150px;
    height: 40px;
}

.existing_uploaded_img_fav > img {
    width: 40px;
    height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#holiday {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.holiday_title {
    font-size: 18px;
    margin-left: 6px;
    font-weight: 300;
}

.attnd_note {
    border: 1px solid rgb(218, 218, 218);
    padding: 5px 10px;
}

table > thead > tr > th {
    font-size: 18px;
    font-weight: 400 !important;
}
.staff-label,
#doc_name {
    font-size: 16px;
    font-weight: 300;
}

/*  */

.nice-select > span.current {
    text-transform: capitalize;
}

ul.list > li {
    text-transform: uppercase;
    font-size: small;
}

.attend_logo img {
    width: 250px;
    display: inline-block;
}

.verticle_seperator {
    width: 1px;
    height: 93px;
    background: #fff;
    display: inline-block;
}

#staff_table_filter,
#staff_table_length > label,
#staff_table_info {
    display: none;
}


#staff_index_table thead th {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}

.attend_logo {
    display: inline-block;
    margin-left: -7px;
    margin-right: 51px;
}

.attend_logo img {
    margin-top: -75px;
}

.card_header_text h3,
.card_header_text h4 {
    color: #FFFFFF;
    font-weight: 400;
}

.card-body-top > ul > li {
    margin-right: 10px;
}

.card-body-top > ul li:last-child {
    margin-right: 0;
}

.card-body-top > ul > li > span {
    font-size: 18px;
    font-weight: 500;
}

.attendance_report_table > table > thead > tr > th,
#qstBank_table > thead > tr > th {
    font-size: 16px;
    font-weight: 400 !important;
    padding: 15px 10px;
}

#attendanceReportTable > .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

table#issueBook_table thead th, table.dataTable thead td, 
table#member_table thead th, table.dataTable thead td,
table#memberCat_table thead th, table.dataTable thead td,
table#book_table thead th, table.dataTable thead td,
table#bookCategory_table thead th, table.dataTable thead td {
    border-bottom: 1px solid #828890;
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
}

table#staffRole_table thead th {
    border-bottom: none;
}

#staffRole_table {
    border-bottom: 1px solid #eff2f7;
}

table#issueBook_table tbody th, table.dataTable tbody td {
    font-size: 14px;
    font-weight: 300;
}

.dataTables_info,
.dataTables_length {
    display: none;
}

#attendanceReportTable > thead > tr > th.report_date_th {
    font-size: 18px;
    font-weight: 200 !important;
    padding-bottom: 35px;
}

#attendanceReportTable > thead > tr > th.report_info_td {
    padding-bottom: 39px;
}

#attendanceReportTable_details_view > thead > tr > th.details_view_th {
    /* padding-bottom: 40px; */
}

#attendanceReportTable_details_view > thead > tr > th.details_view_th_lg {
    /* padding-bottom: 40px; */
}

#attendance_report_filter > tr > td {
    font-size: 15px;
    font-weight: 400;
    color: #242424;
}

#attendanceReportTable_details_view > thead > tr > th {
    font-size: 17px;
    font-weight: 500 !important;
}

#qstGroup_table > thead th,
#qstBank_table > thead th {
    padding: 15px 18px;
    border-bottom: none;
    background-color: #f8f9fa;
}

#qstGroup_table,
#qstBank_table {
    border-bottom: 1px solid #eff2f7 !important;
}


#qstGroup_table_filter,
#qstBank_table_filter,
.dataTables_filter {
    display: none;
}


#qstlist_table > thead > tr > th {
    padding: 10px 4px !important;
}


#stdlist_table > thead > tr > th {
    padding: 11px 0px !important;
}


#stdlist_table > tbody > tr > td,
#qstlist_table > tbody > tr > td {
    padding: 5px 4px !important;
}

#stdlist_table > thead > tr > th, 
#qstlist_table > thead > tr > th, 
#qstlist_table > thead > tr > th, 
#onlineExam_table > thead > tr > th {
    color: #0a0a0a;
    border-bottom: none;
    /* border: 1px solid #d9d9d9; */
    font-size: 16px;
    font-weight: 400 !important;
}

#stdlist_table > tbody > tr > td, 
#qstlist_table > tbody > tr > td, 
#qstlist_table > tbody > tr > td,
#onlineExam_table > tbody > tr > td {
    color: #0a0a0a;
    border-bottom: none;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    font-weight: 300;
}

#viewQst_table > thead > tr > th,
#viewStd_table > thead > tr > th{
    color: #0a0a0a;
    border: none;
}

#viewQst_table > thead > tr > th:nth-child(2) {
    padding-left: 0px;
    padding-right: 0px;
}

#viewQst_table > tbody > tr > td,
#viewStd_table > tbody > tr > td {
    
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dcdcdc;
    padding: 12px 0px;
}

#viewQst_table > tbody > tr > td:first-child {
    padding-left: 20px;
}

#viewQst_table > tbody > tr > td:last-child {
    padding-left: 20px;
}

tbody#stdlist_tbody,
tbody#qstList_tbody {
    font-size: 15px;
    font-weight: 300;
}

.chkBox_all>input[type=checkbox],
.xmAnsChkBox>input[type=checkbox] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

#cross_btn:hover {
    background: #ddd;
}

.card.viewStdAns_page {
    background: #f6f6f6;
}


.xm_ans_Qst,
.xm_ans_mark {
    font-size: 20px;
    font-weight: 400;
}

.xm_ans_Qst {
    margin-bottom: 16px;
}
.xm_ans_ans,
.correct_ans,
.ans_digit {
    font-size: 16px;
    font-weight: 400;
}


.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: transparent;
    color: #0a0a0a;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background: rgb(0 0 0 / 5%);
    color: #0a0a0a;
}


#mcqAnswerWrapper input[type="checkbox"],
#mcq_AnswerWrapper input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

#mcqAnswerWrapper label,
#mcq_AnswerWrapper label {
    font-size: 16px;
    font-weight: 400;
}

#mcq_ansBox:first-child(div) {
    padding-left: 0;
}

.viewQst_qst {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
